html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #3C3C3C;
  font-family: 'Hind Siliguri', sans-serif;
  color: white;
}

main {
  display: flex;
}

.left {
  width: 50vw;
  margin: 25px;
  position: relative;
  text-align: center;
}

#about {
  cursor: pointer;
  transition: 0.3s;
  width: 25%;
  margin: 0 auto;
}

#about:hover {
  color: #CCC;
  transition: 0.3s;
}

#map {
  height: 100vh;
  width: 47vw;
}

.map-container{
  position: fixed;
  right: 0;
  border: 2px solid #E5A3AD;
}

#display-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 7vh;
  left: 41vw;
  width: auto;
  /*z-index: 1;*/
  border: 2px solid #E5A3AD;
  /*position: fixed;*/
  padding: 8px;
  background-color: #3C3C3C;
}

.legend-container {
  position: fixed;
  margin: 10px;
  z-index: 20;
  position: fixed;
  /*left: 46vw;*/
  top: 15vh;
  /*margin-top: 10px;*/
  border: 1px solid #E5A3AD;
  width: 210px;
  background-color: #515151;
  display: flex;
  flex-direction: column;
}

#progress-bar{
  max-width: 100%;
  width: 0%;
  /*height: 10px;*/
  background-color: #67FF00;
  margin-left: 0px;
}


#modal {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0);
  background-color: rgba(0,0,0,0.4);
  display: none;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

h3 {
  font-size: 16px;
  padding: 10px;
  font-weight: bold;
  margin: 0;
}

button {
  display: inline-flex;
  align-items: center; 
  cursor: pointer;
  background: transparent;
  background-color: #3C3C3C;
  width: 200px;
  margin: 5px;
  padding: 5px;
  font-size: 14px;
  line-height: 1;
  border: 2px solid #E5A3AD;
  border-radius: 4px;
  min-height: 35px;
  height: auto;
  /*-webkit-appearance: none;*/
  color: white !important;
}

button:hover {
  background: transparent;
  background-color: #252323;
}

select {
  cursor: pointer;
  background: transparent;
  background-color: #3C3C3C;
  width: 200px;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 2px solid #E5A3AD;
  border-radius: 4px;
  height: 34px;
  /*-webkit-appearance: none;*/
  color: white !important;
  text-align-last:center;
}

select:hover {
  background: transparent;
  background-color: #252323;
}

.legend-container {
  position: absolute;
  right: 0%;
  padding: 10px;
  color: white;
  margin: 10px;
  width: 110px;
  text-align: right;
  top: 30px;
}

.toggle-container {
  box-sizing: border-box;
  background: transparent;
  padding: 15px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.time-lapse-toggles-container {
  padding-bottom: 10px;
  background-color: #515151;
  border: 2px solid #E5A3AD;
  width: 210px;
  display: flex;
  justify-content: center;;
  flex-direction: column;
  border-radius: 8px;
}

.double-filter-container {
  padding-bottom: 10px;
  margin-top: 10px;
  border: 2px solid #E5A3AD;
  width: 210px;
  background-color: #515151;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

#select-cuisine {
  width: 200px;
  margin: 5px;
  padding: 5px;
  font-size: 14px;
  line-height: 1;
  border: 2px solid #E5A3AD;
  border-radius: 0;
  min-height: 35px;
}

.button-filter-container {
  padding-bottom: 10px;
  margin-top: 10px;
  border: 2px solid #E5A3AD;
  width: 210px;
  background-color: #515151;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.button-filter-container {
  padding-bottom: 10px;
  margin-top: 10px;
  border: 2px solid #E5A3AD;
  width: 210px;
  background-color: #515151;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

footer {
  bottom: 0;
  width: 100%;
}

i {
  transition: 0.3s;
}

i:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.icons {
  font-size: 36px;
}

.about {
  background-color: #3C3C3C;
  opacity: 1;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 35%;
  z-index: 2;
}

.chart-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1em;
  width: 400px;
  height: 100%;
  border: 2px solid #E5A3AD;
  margin: 20px;
  border-radius: 8px;
  padding-bottom: 20px;
}

#chart-div h4 {
  overflow-wrap: break-word;
  letter-spacing: 1px;
  line-height: 19px;
  font-weight: 500;
  width: 70%;
}

.bar {
  fill: #737373;
}

.bar:hover {
  fill: #E5A3AD;
}

.filter-icon {
  display: inline-flex;
  align-self: center;
  height: 25px;
  width: 25px;
  padding-right: 8px;
}

/* .icon svg {
} */
